SLACK_BOT_TOKEN=REPLACE_WITH_SLACK_BOT_TOKEN
SLACK_CHANNEL_ID=REPLACE_WITH_SLACK_CHANNEL_ID

# Optionally set one restaurant enum name from restaurant.py to limit delivery.
# RESTAURANT=EXACT_RESTAURANT_ENUM_NAME_FROM_restaurant.py
